a {
   color: firebrick;    
}

a:hover {
    background-color: bisque;
    color: chocolate;   
}

header {
    color: coral;
    font-size: 250%;
    font-family: fantasy;
}

footer {
    background-color: aquamarine;
}

ul p {
  margin: 2px 0;  
}

.list-item-title {
    font-weight: bold;
}

.list-item-text {
    font-weight: bold;
    text-decoration: underline;
}